
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    height: 100em;
    width: 100%;
    text-align: center;
    background: linear-gradient(60deg,#7d0505,  #130329); /* Dark blue gradient */
    color: #FCC737 /* Ensure text is visible on the dark background */	
}

.horizontal-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.horizontal-layout > * {
    margin: 0 5px;
}
button {
    width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 3px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.vertical-layout{
    display:flex;
    flex-direction:column;
    gap: 8px;
}
.vertical-layout label {
    display: flex;
    align-items: center; /* Align checkbox and text vertically */
}

.vertical-layout label span {
    min-width: 70px; /* Adjust width to ensure consistent alignment */
    display: flex;/* Makes the span behave like a block to ensure alignment */
}
.note-checkbox{

}

.list-choice{
    width:200px;
    position: relative;
    cursor: pointer;  
}
.list-choice input[type="radio"]{
    position:absolute;
    left:-9999px;
}

.list-choice-title {
    width: 100%;
    display: block;
    background: #2A004E;
    text-align: center;
    padding: 0.55em 1em;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 0 1px 0 #CACACA;
    border-radius: 0.2em;
}
.list-choice:hover .list-choice-title {
    border-radius:0.2em 0.2em 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span{
    border-radius:0 0 0.2em 0.2em;
}
.list-choice input[type="radio"] + span {
    color: #FFF;
    background: #16C47F;
    padding: 0.55em 1em;
    display: block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}
.list-choice-objects {
    position: absolute;
    top: 0;
    padding-top: 2.1em;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms ease;
}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
    position: relative;
    top: 0;
    transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
    background:#500073;
}
.list-choice:hover input[type="radio"]:checked + span:hover {
    background:#2A004E;
}
.list-choice input[type="radio"]:checked + span {
    background: #2A004E;
    position: absolute;
    top: 0em;
    border-radius: 0.2em;
}
.list-choice:hover input[type="radio"]:checked + span {
    border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
    border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
    max-height: 540px;
}

#note-image{
    max-width: 430px;
    max-height: 200px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 5px;
}
